﻿@page "/counter"
@inject IModalService Modal

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        var options = new ModalOptions()
        {
            Class = "custom-modal blazored-modal",
            HideCloseButton = true,
            DisableBackgroundCancel = true,
            HideHeader = true
        };

        Modal.Show<TheModal>("", options);
        currentCount++;
    }
}
