﻿<div class="simple-form">

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" />
    </div>

    <button @onclick="Save" class="btn btn-primary">Save</button>
    <button @onclick="BlazoredModal.Cancel" class="btn btn-secondary">Cancel</button>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    protected override void OnInitialized()
    {
    
    }

    void Save()
    {
        BlazoredModal.Close();
    }

}